

#navbar{
    position: fixed;
    top: 0;
    width:100%;
    text-align:right;
    background-color:cadetblue;
 }

 #welcome-section h1{
     margin-top: 170px;
 }
#welcome-section{
    width:100%;
    height:100vh;
    font-size:50px;
    text-align:center;
 }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }